
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>
        Welcome Admin. You are authorised to access all areas.
    </h1>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
            <li>@Html.ActionLink("Children", "Index", "Children", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Clubs", "Index", "Clubs", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Enrolments", "Index", "Enrolments", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Activities", "Index", "Activities", new { area = "" }, null)</li>
            @*<li>@Html.ActionLink("Instructors", "Index", "Instructors", new { area = "" }, null)</li>*@
            <li>@Html.ActionLink("Payments", "Index", "Payments", new { area = "" }, null)</li>
        </ul>
        <ul class="nav nav-bar navbar-right">
            <li>@Html.ActionLink("Activate", "Activate", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </ul>

    </div>
}

else if (ViewBag.displayMenu == "Club Manager")
{
    <h1>
        Welcome <strong>@ViewBag.Name @ViewBag.UserID</strong>.  You can now register your Club's details
    </h1>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Clubs", "ClubsKids", "Clubs", new { UserID = ViewBag.UserID, ClubID = ViewBag.ClubID }, null)</li>

        </ul>
    </div>
    
}

else if (ViewBag.displayMenu == "Child's Guardian")
{
    <h2>  Welcome <strong></strong> You can now create your Child's profile</h2>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            @*this allows the info in the ViewBag properties, UserID and ChildID to set up hyperlinks with the correct value*@
            <li>@Html.ActionLink("Children", "MyDashboard", "Children", new { UserID = ViewBag.UserID, ChildID = ViewBag.ChildID }, null)</li>
        </ul>
    </div>
}  

