@model IEnumerable<MyHappyDays.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@if(User.IsInRole("Club Manager"))

<h3>Welcome to the Club Payments Page, the annual advertising fee is €200</h3>
<h1>To Complete Registration Please Enter your Payment Details</h1>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayeeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayeeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
