@model MyHappyDays.ViewModels.ChildProfile

@{
    ViewBag.Title = "MyDashboard";
}

<h2>My Dashboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>Child's Name</th>
        <th>Child's Date Of Birth</th>
        <th>Current Activities</th>
    </tr>
    @foreach (var item in Model.Children)
    {
        <tr>
            <td>
                @Html.DisplayFor( modelItem => item.ChildFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.Enrolments)
            </td>
            <dd>
                <table class="table">
                    <tr>
                        <th>Activity Name</th>
                        <th>Day Of Activity</th>
                        <th>Time Of Activity</th>
                        <th>Activity Price</th>
                        <th>Payment Due Date</th>
                        </tr>
                    @foreach (var detail in Model.Enrolments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => detail.Activity.NameOfActivity)
                            </td>
                               <td>
                                    @Html.DisplayFor(modelItem => detail.Activity.Day)
                               </td>
                            <td>
                                @Html.DisplayFor(modelItem => detail.Activity.ClassTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => detail.Activity.PriceOfActivity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => detail.PaymentDue)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </tr>
    
    
    }
</table>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
