@*when creating view for a viewModel you must delete the dbContext class as viewModel does not access db in anyway from the view*@
@model MyHappyDays.ViewModels.ChildProfile

@{
    ViewBag.Title = "MyDashboard";
}

<h4>Welcome  To Your Dashboard</h4>

<p>
    @Html.ActionLink("Create Profile and Child's Details", "Create")
</p>
<table class="table">
    <tr>
        <th>Child's Name</th>
        <th>Child's Date Of Birth</th>
        <th>Any Registered Activities?</th>
    </tr>

@foreach (var item in Model.Children)
{
    string selectedRow = "";
    if (item.ID == ViewBag.ChildID)
        {
        selectedRow = "Success";
    }
    <tr class = "@selectedRow" valign = "top">
        <td>
            @Html.DisplayFor(modelItem => item.ChildFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
    @*@if (item.Enrolments != null)
    {

        @Html.DisplayFor(modelItem => "Yes")

    }

    else
    {
        @Html.DisplayFor(modelItem => "No")
    }*@
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.ActionLink("Select", "MyDashboard", new { id = item.ID} ) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>

@if (Model.Enrolments != null)
{
<h3> Currently Registered in the following Activities </h3>
    <table class= "table">
    <tr>
        <th></th>
        <th>Name Of Activity</th>
        <th>Day</th>
        <th>Time</th>
    </tr>    

        @foreach (var item in Model.Enrolments)
        {
            string selectedRow = "success";
            if (item.ID == ViewBag.enrolmentID)
            {
                selectedRow = "success";
            }
            <tr class = "@selectedRow">
                <td>
                    @Html.ActionLink("Select", "MyDashboard", new { id = item.ID}) |
                </td>
                <td>
                    @item.Activity.NameOfActivity
                </td>
                <td>
                    @item.Activity.Day
                </td>
                <td>
                    @item.Activity.ClassTime
                </td>
            </tr>
        }
    </table>
}