@*when creating view for a viewModel you must delete the dbContext class as viewModel does not access db in anyway from the view*@
@model MyHappyDays.ViewModels.ClubData
@{
    ViewBag.Title = "MyDashboard";
}

<h4>Welcome + ViewBag.UserName + To Your Club's Dashboard</h4>
<p>
    @Html.ActionLink("Create Your Club Profile", "Create")
</p>

<p>
    @Html.ActionLink("Add An Activity", "Create", "Activities")
</p>
<table class="table">
    <tr>
        <th>Activity</th>
        <th>Day of Class</th>
        <th>Time of Class</th>
        <th>Price of Class</th>
        <th>Max Capacity</th>
        @*<th>Instructor</th>*@
    </tr>

    @foreach (var item in Model.Activities)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.ClubID)
        {
            selectedRow = "Success";
        }
        <tr class="@selectedRow" valign="top">
            <td>
                @Html.DisplayFor(modelItem => item.NameOfActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceOfActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCapacity)
            </td>
            @*<td>
                @if (item.Instructor != null)
                {
                         @item.Instructor.InstructorLastName
                }
            </td>*@
            <td>
                @Html.ActionLink("Select", "MyDashboard", new { id = item.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
            </tr>
    }
    </table>

@if (Model.Activities != null && Model.Enrolments != null)
{
<h3>List of Children Enrolled in the selected Activity:</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                DOB
            </th>
        </tr>

       @foreach (var item in Model.Enrolments)
       {
           <tr>
               <td>
                   @item.Child.LastName
               </td>
               <td>
                   @item.Child.DOB
               </td>
           </tr>
       }
        </table>
}
