@using Microsoft.AspNet.Identity
@model IEnumerable<MyHappyDays.Models.Activity>

@{
    ViewBag.Title = "HomeSearchAllActivities";
}

<h2>Search All Activities</h2>

@*@*<p>
    @*hiding from unprivileged users
    @if (Roles.IsUserInRole("Club Manager", "Admin"))
    {
            @Html.ActionLink("Create New", "Create")
    }
</p>*@
         


@using (Html.BeginForm())
{
    <p>
        
        Select Club: @Html.DropDownList("SelectedClub", "All")
        <input type="submit" , value="filter" />
    </p>
}

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceOfActivity)
            </th>
            <th>
                Club
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeGroup)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.ClubName)
            </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                </td>
            </tr>
        }

    </table>
